body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.app {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.app>.header-wrap {
  height: 50px;
  flex-shrink: 0;
}

.app>.main-wrap {
  flex-grow: 1;
  overflow-y: scroll;
}

.app>.footer-wrap {
  height: 44px;
  flex-shrink: 0;
}
