.header {
  height: 100%;
  background-color: #FFC640;
  display: flex;
  justify-content: space-between;
}

.header a {
  height: 100%;
  width: 46px;
  display: block;
  padding-top: 13px;
}

.header svg {
  display: block;
  margin: 0 auto;
}
